<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Andika-Bold.ttf</string>
		<string>Andika-BoldItalic.ttf</string>
		<string>Andika-Italic.ttf</string>
		<string>Andika-Regular.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>Logo</string>
	</dict>
</dict>
</plist>
