<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string></string>
			</array>
			<key>UTTypeIdentifier</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Andika-Bold.ttf</string>
		<string>Andika-BoldItalic.ttf</string>
		<string>Andika-Italic.ttf</string>
		<string>Andika-Regular.ttf</string>
	</array>
</dict>
</plist>
